body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-luckiest-guy: "Luckiest Guy";
  --body-18: Raleway;
  --font-comfortaa: Comfortaa;
  --font-piedra: Piedra;
  --title-h1: "Playfair Display";

  /* font sizes */
  --font-size-base: 16px;
  --body-18-size: 18px;
  --font-size-9xl: 28px;
  --title-h1-size: 64px;

  /* Colors */
  --bg-gray: #f9faff;
  --font-medium-emphasis: #828282;
  --bg-line: #25282b;
  --brand-yellow: #fdc435;
  --main-corail: #fe5e55;
  --main-light-corail: #ffe4e0;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-base-5: 16.5px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-5xs: 8px;
}
